
footer {
    padding: 10pt;
}

main {
    padding-top: 70px;
}

.bg-blue {
    background: linear-gradient(to top, #87CEFA, transparent);
    width: 100%
    position: relative;
}

.bg-blue-to-yellow {
    background: linear-gradient(to top, #87CEFA, #FFD700);
    width: 100%
    position: relative;
}

.bg-yellow {
    background: linear-gradient(to top, #FFD700, transparent);
    width: 100%
    position: relative;
}

.huge-literal {
    font-weight: 900;
    font-size: 200px;
    width: 20%;
    display: inline-block;
}

.text-alignment-leading {
    text-align: left;
}

.text-alignment-trailing {
    text-align: right;
}

.text-alignment-center {
    text-align: center;
}

.color-blue {
    color: #87CEFF;
}

.color-yellow {
    color: #F9D700;
}

.step-description {
    width: 76%;
    display: inline-block;
}

.image-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 200px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.img-step1-iphone {
/*    position: absolute;*/
/*    z-index: 3;*/
    width: 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-step1-ipad {
/*    position: absolute;*/
/*    z-index: 2;*/
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
/*    left: 30px;*/
}

.img-step1-mac {
/*    position: absolute;*/
/*    z-index: 1;*/
    width: 300px;
/*    left: 170px;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}



